<suite name = "suite">
    <test name = "API Test">
        <classes>
            <class name="IDNumberValidation"></class>
            <class name="AgeValidation">re</class>
            <class name="FullNameValidation"></class>
            <class name="BankValidation"></class>
            <class name="AccountNumberValidation"></class>
        </classes>
    </test>
</suite>